* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    font-family: 'Michroma', sans-serif;
}

#message-container {
    position: absolute;
    margin-top: 6vmin;
    width: 90vmin;
    padding: 15vmin;
    background-color: rgba(47, 79, 79, 0.889);
    z-index: 1;
}

#message-container > h2 {
    font-size: 5vmin;
    text-align: center;
    color: white;
}

#message-container > p {
    font-size: 3vmin;
    text-align: center;
    color: white;
    margin-top: 1vmin;
}

#message-container > p > span {
    font-size: 4vmin;
}

header {
    font-size: 4vmin;
    letter-spacing: 1vmin;
    text-transform: uppercase;
    margin-top: 10vmin;
}

p {
    font-size: 2vmin;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -5vmin;
}

#stats > p {
    padding: 3vmin 8vmin;
    margin: 1vmin 0;
}

#cards{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(5, 14vmin);
    grid-template-rows: repeat(4, 14vmin);
    gap: 1.2vmin;
    margin-top: 5vmin;
}

.card {
    transform-style: preserve-3d;
    transition: all 1s ease;
    height: 14vmin;
    z-index: 0;
    margin-top: 5vmin;
    position: relative;
    cursor: pointer;
}

.front, .back {
    position: absolute;
    top: -5vmin;
    width: 100%;
    transition: transform 1s ease-out;
}

.front {
    height: 14vmin;
    background-color: white;
    border: 1vmin solid lightgrey;
    height: 14vmin;
    font-size: 8vmin;
    text-align: center;
}

.back {
    background: radial-gradient(
        white ,
        lightgrey 
    );
    background-size: 5% 5%;
    border: 0.3vmin solid lightgray;
    height: 14vmin;
    backface-visibility: hidden;
}

button {
    font-size: 2.5vmin;
    letter-spacing: 0.8vmin;
    border: 0.1vmin solid grey;
    padding: 3.5vmin;
    border-radius: 8vmin;
    font-family: 'Michroma', sans-serif;
    cursor: pointer;
}

#start {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    background-color: grey;
    z-index: 1;
    margin-top: 6vmin;
}

#play-again {
    font-size: 2vmin;
    padding: 2.5vmin;
    color: grey;
    background-color: white;
    margin: 4vmin 0;
}

#start:hover {
    background-color: white;
    color: grey;
}

#play-again:hover {
    background-color: grey;
    color: white;
}

.hide {
    display: none;
}



